html {
    
    font-family: monospace;
    background-color: rgb(125, 118, 118);
    color: rgb(189, 189, 189);
    scroll-behavior: smooth;
    align-content: space-around;
}

#titulo-principal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    color: rgb(104, 34, 173);
  }


img {
    max-width: 100%;
  }


.allign-image{
    position: relative;
    top: 50px; /* ajustar los valores para mover la imagen */
    right: -500px;
    width: 550px;
    height: 450px;
    border:10px solid #9358a5;
    display: block;

}

.allign-image-poster{

    position: relative;
    top: 50px; /* ajustar los valores para mover la imagen */
    right: -600px;
    width: 350px;
    height: 490px;
    border:10px solid #9358a5; 
    display: block;
    
}

.allign-table{
  position: relative;
  top: 100px; /* ajustar los valores para mover la imagen */
  right: -300px;
  width: 1000px;
  height: 250px;
  
 
}

.allign-trailer{
position: relative;
top: 200px;
right: -300px;;
}

.text-left {
    
    text-align: left;
    right: 10px;

  }

.text-center{
    text-align: center;
}

.caja {
  background-color: aqua;
  border: 4px color red;
  color: rgb(218, 23, 23);
  margin: 20px;
  padding: 16px;
}
  
.caja-1{
 width: 200px;
 height: 200px;
 box-sizing: content-box;
}
